/*колір основного тексту #212121*/
/* колір опису #757575 */
/*колір  ссилок футера rgba(255, 255, 255, 0.6); */
/*акцент #2196F3 */
/*color header #FFFFFF */
/*hero and footer #2F303A */
/*section 2 #E5E5E5 */
/*section 3 #F5F4FA */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
}
.list,
.logo,
.link,
.contact {
  list-style: none;
  text-decoration: none;
  padding: 0%;
  margin: 0%;
}
.img {
  display: block;
}
.body {
  background-color: var(--primary-bg-color);
  font-family: roboto, sans-serif;
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*Logo*/
.logo {
  margin-right: 94px;
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo .primary {
  color: var(--accent-text-color);
  margin-top: 24px;
  margin-bottom: 25px;
}
.logo .secondary {
  color: var(--primary-text-color);
  margin-top: 24px;
  margin-bottom: 25px;
}
.logo .footer-secondary {
  color: var(--primary-bg-color);
}
/*Site-nav*/
.header {
  border-bottom: solid 1px #c4c4c4;
}
.header .link {
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-nav,
.nav {
  display: flex;
  align-items: center;
}
.site-nav,
.page-header {
  display: inline-flex;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.page-header .item.item:not(:last-child) {
  margin-right: 50px;
  margin-left: 331px;
}
.page-header .contact {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.page-header .link {
  color: var(--primary-bg-color);
}
.page-header .contact:hover,
.page-header .contact:focus {
  color: var(--accent-text-color);
}
/*Hero*/
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-family: roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}
.button-primary {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  font-family: roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}
.button-primary:hover,
.button-primary:focus {
  color: var(--primary-bg-color);
  background-color: #188ce8;
}
/*section*/
.section-about {
  padding-bottom: 0;
}
.section-about .item {
  display: inline-block;
  width: 270px;
  margin-right: -3px;
}
.section-about .item:not(:first-child) {
  margin-left: 30px;
}
.section-about-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.section-about-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}
/*Work-photo*/
.work-photo .item {
  display: inline-flex;
  margin-right: 30px;
}
.work-photo .item:last-child {
  display: inline-flex;
  margin-right: -8px;
}
/*Team*/
.section-team {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-team-title {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
}
.section-team-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
}
.section-team-holder {
  padding-top: 30px;
  padding-bottom: 30px;
}
.flex-element {
  display: inline-block;
  border: 1px solid var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
}
.flex-container .flex-element {
  margin-right: 30px;
}
.flex-container .flex-element:last-child {
  margin-right: -9px;
}
/*Portfolio*/
/*Button*/
.button-nav {
  justify-content: center;
  display: flex;
  border-radius: 4px;
  margin-bottom: 50px;
}
.button-nav .item:not(:last-child) {
  margin-right: 8px;
}
.button-nav .button {
  background-color: var(--button-bg-color);
  margin-left: auto;
  margin-right: auto;
}
.button-nav .button:focus,
.button-nav .button:hover {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
}
.button.accent {
  background-color: var(--accent-text-color);
}
/*Portfolio-works*/
.flex-elements {
  border: 1px solid #eeeeee;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-elements:nth-child(3n) {
  margin-right: 0;
}
.flex-elements:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs-holder {
  padding: 20px 24px 20px 24px;
}
.breadcrumbs .section-title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}
.breadcrumbs .section-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
/*Footer*/
.footer .logo {
  margin-top: 60px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
  margin-left: auto;
  margin-right: auto;
}

.footer .link {
  margin-top: 20px;
  margin-bottom: 9px;
  display: block;
  color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.footer .contact {
  margin-bottom: 9px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.footer .address-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
